.todo-item{
  box-sizing: border-box;
  display: flex;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  font-size: 24px;
  .check-box{
    margin-right: 20px;
    input{
      width: 15px;
      height: 15px;
    }
  }
  .content{
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
  }
  .btn-group{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    .btn{
      width: 44px;
    }
  }
}